* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.education {
  width: 100%;
  height: 60%;
  background-color: #171914;
  position: relative;
}
.education img{
  width: 8%;
  height: 40%;
  position: absolute;
  top:26%;
  left: 10%;
}
.education p{
  height: 20%;
  color: white;
  font-size: 30px;
  font-family: lato;
  margin-left: 12%;
  padding-top: 40px;
}
.eduMain{
  width: 100%;
  height: 80%;
  /* background-color: aliceblue; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;

}

.eduDetail {
  width: 60%;
  height: 60%;
  border-radius: 30px;
  border: 2px solid rgb(107, 255, 99);
  box-shadow: 0px 4px 15px 2px rgba(107, 255, 99, 0.6);
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: center; */
}
.eduDetail h4{
  width: 100%;
  font-size: 14px;
  color: white;
  margin: 40px;
  margin-bottom: 0;
}
.year{
  margin-left: 30%;
}
.eduDetail h5{
  width: 40%;
  color: rgb(107, 255, 99);
  margin: 40px;
  margin-top: 10px;

}
